<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onlyuniquesoft.servis" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ozeltema" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MobileBimNedir"
            android:label="@string/title_activity_nedir" >
        </activity>
        <activity
            android:name=".AnaActivity"
            android:label="@string/title_activity_ana"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" >
            </meta-data>
        </activity>
        <activity
            android:name=".ReyonActivity"
            android:label="@string/title_activity_reyon"
            android:parentActivityName=".AnaActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AnaActivity" >
            </meta-data>
        </activity>
        <activity
            android:name=".kayit"
            android:label="@string/title_activity_kayit"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" >
            </meta-data>
            >
        </activity>
        <activity
            android:name=".KategorilerActivity"
            android:label="@string/title_activity_kategoriler"
            android:parentActivityName=".ReyonActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ReyonActivity" >
            </meta-data>
            >
        </activity>
    </application>

</manifest>
